/* ==========================================================================
   WP Admin Bar Fixes
   ========================================================================== */

.admin-bar .navbar-fixed-top {margin-top: 27px;}
.ab-item img.media-object { min-width: auto; min-height: auto;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

input.search-query {}

body {overflow-x: hidden;}

.page-header {border: none; margin: 0;}

.navbar #brand-logo {height: 2.5em;}

section {padding-top: 100px;}

#mail input, #mail textarea {width: 90%;}

.social-bottom {width: auto;}