/* ==========================================================================
   WP Admin Bar Fixes
   ========================================================================== */

.admin-bar .navbar-fixed-top {margin-top: 27px;}
.ab-item img.media-object { min-width: auto; min-height: auto;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */


/* ==========================================================================
   Media Manifesto Tweaks
   ========================================================================== */

input.search-query {}

body {overflow-x: hidden;}

.page-header {border: none; margin: 0;}

.navbar #brand-logo {height: 2.5em;}

section {}

#mail input, #mail textarea {width: 90%;}

.social-bottom {width: auto;}

.home-section {padding: 100px 0 0;}
.home-section .content h3 {border-bottom: 2px solid #DF012A; display: inline-block; padding-bottom: 1px;}

ul.dropdown-menu > li > a {color: #fff;} /* styles.css 3808 */
ul.dropdown-menu > li > a:hover {background-color: #DF012A; background-image: none;}

.section-content {padding: 25px 0;}

.home .section-content {padding: 0;}

aside.sidebar {margin-bottom: 50px;}
aside.sidebar section {padding: 0px;}